@font-face {
  font-family: 'Lato';
  src: url('./assets/Lato-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('./assets/Lato-Black.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('./assets/Lato-Light.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('./assets/Lato-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  width: 1020px;
  margin: auto;
  padding: 0;
  top: 0;
}

.portfolio {
  height: 870px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio__wrapper {
  width: 944px;
  height: 732px;
  margin: 67px auto auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.portfolio__banner {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato-Black';
  color: #666d89;
  font-size: 20px;
}

.portfolio__banner__head {
  font-family: 'Lato-Black';
  color: #666d89;
  font-size: 31px;
  margin: 0 1px;
  line-height: 22px;
  letter-spacing: 0px;
}

.portfolio__banner__info {
  font-family: 'Lato-Light';
  text-align: justify;
  color: #666d89;
  font-size: 18px;
  letter-spacing: -0.21px;
  margin: 16px 0 0 2px;
}

.portfolio__panel {
  margin: 0 0 0 3px;
  display: flex;
  justify-content: space-between;
  width: 287px;
  height: 22px;
}

.portfolio__panel__link {
  text-decoration: none;
  color: #666d89;
  font-family: 'Lato-Regular';
  text-align: justify;
  font-size: 12px;
  letter-spacing: -0.15px;
  border: 1px solid #666d89;
  border-radius: 5px;
  margin: auto 0;
  padding: 3px 6px;
}

.portfolio__panel__link:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

p {
  margin: 0;
}

.portfolio__content__images {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.about {
  height: 734px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about__wrapper {
  width: 940px;
  height: 595px;
  margin: auto;
}

.about__banner {
  padding-top: 60px;
}

.about__banner__head>h3 {
  font-family: 'Lato-Black';
  font-size: 30px;
  letter-spacing: -0.1px;
  margin: 0;
  color: #666d89;
}

.about__banner__info>h5 {
  font-family: 'Lato-Light';
  font-size: 16px;
  letter-spacing: 0.84px;
  line-height: 30px;
  margin: 17px 0 0;
  color: #767e9e;
}

.about__banner__info>h5>span {
  word-spacing: -1.5px;
}

.command {
  width: 939px;
  height: 443px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 42px 0 0;
}

.command__content {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.command__content__image {
  margin: 4px 0 0;
  width: 300px;
  height: 300px;
}

.command__content__text {
  height: 83px;

}

.command__content__text>h4 {
  margin: 0;
  font-family: 'Lato-Black', sans-serif;
  font-size: 18px;
  letter-spacing: -0.18px;
  color: #666d89;
}

.special  {
  letter-spacing: 0.1px !important;
}



.command__content__text>p {
  margin: 8px 0 0;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 12px;
  letter-spacing: -0.11px;
  line-height: 1.797;
  color: #767e9e;
  text-align: left;
}

.command__content__social {
  width: 152px;
  display: flex;
  justify-content: space-between;
}

.command__content__social__link :hover {
  box-shadow: 0px 7px 4px -6px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(135, 178, 206, 0.76);
  border-radius: 15px;
}